.container {
    width: min(45rem, 90vw);
    margin-inline: auto;
}

.comments {
    gap: 1.5rem;
    display: grid;
}

@media (max-width:500px) {
    .comments {
        gap: 1rem;
    }
}